<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}} {{nombre}} {{apellido}} </title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css">
</head>
<body>
    <div class="stars-container">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>

    
    {{> header}}



    <section class="home" id="home">
        <div class="home-content">
            <h1>Hola, Soy <span>{{nombre}} </span></h1>
            <h3 class="text-animation">Soy <span></span></h3>
            <p>
                Soy un desarrollador apasionado por la tecnología, con una sólida experiencia en áreas como el desarrollo web y soporte técnico. 
                A lo largo de mi carrera, he trabajado en diversos proyectos que me han permitido perfeccionar mis habilidades técnicas y resolver 
                problemas complejos de manera eficiente. Además, poseo experiencia en el mantenimiento correctivo y preventivo de PCs, lo que me ha
                dado una comprensión integral del funcionamiento de los sistemas. Me motiva crear soluciones que no solo cumplan con los requisitos funcionales, 
                sino que también mejoren la experiencia del usuario final. Estoy comprometido con el aprendizaje continuo y la adopción de nuevas tecnologías que 
                impulsen la innovación en el desarrollo de software.
            </p>

            <div class="social-icons">
                <!-- <a href=""><img src="/icon/linkedinnegro.png" alt=""></a> -->
                <a href="https://github.com/RogerTi03"><img src="icon//githubnegro.png" alt=""></a>
                <a href="https://www.instagram.com/anderr_117?igsh=a2F0MmRiejVyN3Jl"><img src="icon/instagramnegro.png" alt=""></a>
                <a href="https://x.com/Rogerti117?t=3O32IK__0GMEycyId8Ldfw&s=09"><img src="icon/xnegro.png" alt=""></a>
                <!-- <a href=""><img src="/icon/facebooknegro.png" alt=""></a> -->


                <!-- <a href=""><i class='bx bxl-linkedin bx-tada bx-rotate-90' ></i></a>
                <a href=""><i class='bx bxl-github bx-tada bx-rotate-90' ></i></a>
                <a href=""><i class='bx bxl-instagram-alt bx-tada bx-rotate-90' ></i></a>
                <a href=""><i class='bx bxl-twitter bx-tada bx-rotate-90' ></i></a>
                <a href=""><i class='bx bxl-facebook-circle bx-tada bx-rotate-90' ></i></a> -->
            </div>
            <div class="btn-group">
                <a href="#projects" class="btn">Proyecto</a>
                <a href="#contact" class="btn">Contacto</a>
            </div>
        </div>

        <div class="home-img">
            <img src="img/img1.jpg" alt="">
        </div>
    </section>

<!--____________________________________SOBRE MI_________________________-->
<section class="about section" id="about">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2 class="heading">Sobre mi</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-content padd-15">
                <div class="row">
                    <div class="about-text padd-15">
                        <h1>Hola, Soy <span>{{nombre}} </span></h1>
                        <p>
                            Un apasionado desarrollador web con un enfoque especial en el diseño moderno y funcional. Mi experiencia abarca tecnologías como HTML, CSS, JavaScript, Angular y .NET, lo que me permite crear aplicaciones eficientes y atractivas. Estoy en un constante proceso de aprendizaje, perfeccionando mis habilidades en programación y diseño, buscando siempre implementar las mejores prácticas en mis proyectos.

Además, tengo un fuerte interés en la creación de experiencias de usuario excepcionales, utilizando herramientas como Bootstrap para lograr un diseño responsivo y minimalista. He trabajado en diversos proyectos, desde una calculadora en Node.js hasta un juego de "Tres en Línea" en Java, y con un grupo estamos desarrollando un sistema web para una ferretería que integra módulos de inventario, ventas y reportes.

También me interesa la redacción técnica, con el objetivo de documentar mis proyectos y compartir mis conocimientos con la comunidad.

Con un enfoque en el desarrollo personal y profesional, siempre busco nuevos desafíos y oportunidades para crecer en el campo de la tecnología.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="personal-info padd-15">
                        <div class="row">
                            <div class="info-item padd-15">
                                <p>Fecha de Nacimiento : <span>2 jun 2003</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Edad : <span>21</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Email : <span>roger.tzep0304@gmail.com</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Ciudad : <span>Sololá</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="about-text padd-15">
                        <h1><span>Skills </span></h1>
                    </div>
                    <div class="skills-container">
    <div class="profile-skills">
        <h2>Lenguajes de Programación</h2>
        <div>
            <ul class="skills skills1">
                <li class="sk-js"><span>JavaScript</span></li>
                <li class="sk-py"><span>Python</span></li>
                <li class="sk-csh"><span>C#</span></li>
                <li class="sk-html"><span>HTML</span></li>
                <li class="sk-css"><span>CSS</span></li>                               
            </ul>
        </div>
    </div>

    <div class="profile-skills">
        <h2>Frameworks y Bibliotecas</h2>
        <div>
            <ul class="skills skills1">
                <li class="sk-ang"><span>Angular</span></li>
                <li class="sk-bt"><span>Bootstrap</span></li>
                <li class="sk-ndjs"><span>Node.js</span></li>                               
            </ul>
        </div>
    </div>

    <div class="profile-skills">
        <h2>Bases de Datos</h2>
        <div>
            <ul class="skills skills1">
                <li class="sk-sql"><span>SQL Server</span></li>
                <li class="sk-oracle"><span>Oracle</span></li>                             
            </ul>
        </div>
    </div>
</div>

                    <div class="row">
                        <div class="buttons padd-15">
                            <a href="#" class="btn">Descargar CV</a>
                            {{!-- <a href="#" class="btn hire-me">Hire Me</a> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!--____________________________________EDUCACIÓN_______________________-->
    <section class="education" id="education">
        <h2 class="heading">Educación</h2>

        <div class="timeline-items">

            <div class="timeline-item">

                <div class="timeline-dot"></div>
                    <div class="timeline-date">2019-2020</div>
                        <div class="timeline-content">
                            <h3>Bachillerato en Ciencias y Letras con Orientación en Computación</h3>
                            <p>
                                Durante dos años, completé el Bachillerato en Ciencias y Letras con una Orientación en Computación, lo que me permitió adquirir una sólida base en 
                                disciplinas científicas y humanísticas, complementada con un enfoque especializado en el ámbito de la computación. Este programa me brindó una comprensión 
                                fundamental de las matemáticas, las ciencias naturales y el lenguaje, junto con el desarrollo de habilidades técnicas en programación, algoritmos y tecnología informática. 
                            </p>
                            <br>
                            <p>
                                Esta combinación de conocimientos me ha proporcionado una visión integral del mundo digital y me ha preparado para enfrentar desafíos tanto académicos 
                                como profesionales en el área de la computación.  
                            </p>
                        </div>
            </div>


            <div class="timeline-item">

                <div class="timeline-dot"></div>
                    <div class="timeline-date">2021-202?</div>
                        <div class="timeline-content">
                            <h3>Facultad de Ingeniería en Sistemas</h3>
                            <p>
                                Actualmente, me encuentro cursando el octavo semestre de la carrera de Ingeniería en Sistemas. A lo largo de mi formación, 
                                he desarrollado una profunda comprensión de áreas clave como el desarrollo de software, bases de datos, redes de computadoras, 
                                y arquitectura de sistemas. Este programa me ha permitido adquirir habilidades técnicas avanzadas en programación, diseño de sistemas, y gestión de proyectos, 
                                preparándome para abordar desafíos tecnológicos en un entorno profesional.
                            </p>
                            <br>
                            <p>
                                Mi enfoque actual está en profundizar mis conocimientos en áreas especializadas de la ingeniería, mientras aplico lo aprendido en proyectos prácticos 
                                que refuerzan mi capacidad para desarrollar soluciones tecnológicas innovadoras.
                            </p>
                        </div>
            </div>



        </div>

    </section>

<!--____________________________________SERVICIOS_______________________-->

    <section class="services" id="services">
        <h2 class="heading">Servicios</h2>

        <div class="services-container">
            <div class="service-box">
                <div class="service-info">
                    <h4>Servicios de Diseñador Web</h4>
                    <p>
                        Como Diseñador Web, ofrezco soluciones creativas y funcionales que transforman ideas en experiencias digitales cautivadoras. Mi enfoque está centrado en la creación de interfaces de usuario (UI) modernas, intuitivas y adaptables, que no solo impactan visualmente, sino que también mejoran la experiencia del usuario (UX).
                    </p>
                    <br>
                    <p>
                        Mis servicios incluyen:
                    </p>
                    <br>
                    <p>
                        Diseño de sitios web personalizados: Desde landing pages hasta sitios web corporativos, desarrollo diseños a medida que reflejan la identidad de tu marca y se adaptan a tus necesidades.
                    </p>
                    <br>
                    <p>
                        Responsive Design: Aseguro que tu sitio web se vea y funcione perfectamente en todos los dispositivos, desde móviles hasta escritorios.
                    </p>
                    <br>
                    <p>
                        Prototipos y wireframes: Desarrollo estructuras claras y eficientes para organizar el contenido y la navegación de tu sitio antes de pasar a la fase de diseño visual.
                    </p>
                    <br>
                    <p>
                        Diseño gráfico complementario: Creación de logotipos, banners, iconos y otros elementos visuales que fortalecen la presencia de tu marca.
                    </p>
                </div>
                
            </div>

            <div class="service-box">
                <div class="service-info">
                    <h4>Documentación Técnica </h4>
                    <p>
                        Ofrezco servicios de documentación técnica clara y concisa que facilitan la comprensión y el uso de sistemas y aplicaciones. La documentación es esencial para la continuidad del proyecto y el soporte de los usuarios.
                    </p>
                    <br>
                    <p>
                        Mis servicios incluyen:
                    </p>
                    <br>
                    <p>
                        Creación de manuales de usuario: Documentación detallada que ayuda a los usuarios a navegar y utilizar sistemas de manera efectiva.
                    </p>
                    <br>

                    <h4>Desarrollo de Contenido Digital</h4>
                    <p>
                        Como experto en desarrollo de contenido digital, creo materiales atractivos y efectivos que comunican mensajes clave y fortalecen la presencia de marcas en línea. Mi enfoque es estratégico y orientado a resultados.
                    </p>
                    <br>
                    <p>
                    Mis servicios incluyen:
                    </p>
                    <br>
                    <p>
                        Creación de contenido web: Desarrollo de textos persuasivos y relevantes que optimizan la comunicación y mejoran la experiencia del usuario.
                    </p>
                    <br>
                    <p>
                        Producción de videos y multimedia: Creación de contenido visual que complementa y enriquece la experiencia del usuario.
                    </p>
                </div>
            </div>

        </div>
    </section>


    <!--__________________________________PROYECTOS______________-->
    <section class="projects" id="projects">
        <div class="projects-box">
            <h2 class="heading">Proyectos</h2>

        <a href="/p1">
            <div class="wrapper">
                <div class="project-item">
                    <img src="img/img1.jpg" alt="">
                    <h2>Totito</h2>
                    <div class="rating">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <!-- <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i> -->
                    </div>
                        <p>
                            Este proyecto consistió en el desarrollo de un juego de "Totito" (también conocido como "Tres en Línea" o "Tic-Tac-Toe") utilizando el lenguaje de programación Java. El objetivo principal era el de crear un juego interactivo donde dos jugadores puedieran competir, alternando turnos, con una interfaz gráfica amigable y sencilla.
                        </p>
                </div>
            </a>

            <a href="/p2">
                <div class="project-item">
                    <img src="img/img1.jpg" alt="">
                    <h2>Estructura de Datos</h2>
                    <div class="rating">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <!-- <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i> -->
                    </div>
                        <p>
                            El proyecto esta relacionado con la implementación de estructuras de datos clásicas como listas enlazadas, pilas, colas, árboles, o grafos. Estas son estructuras fundamentales en la programación que ayudan a almacenar, organizar y gestionar datos de manera eficiente.
                        </p>
                </div>
            </a>

            <a href="/p3">
                <div class="project-item">
                    <img src="img/img1.jpg" alt="">
                    <h2>Portafolio </h2>
                    <div class="rating">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <!-- <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i> -->
                    </div>
                        <p>
                            Este proyecto consiste en un portafolio web completamente desarrollado utilizando HTML y CSS como lenguajes base, implementado y editado en Visual Studio Code. El objetivo del portafolio es presentar de manera profesional mis habilidades, trayectoria y proyectos, proporcionando a los visitantes una visión clara de mi perfil como desarrollador.
                        </p>
                </div>
            </a>

            <a href="/p4">
                <div class="project-item">
                    <img src="img/img1.jpg" alt="">
                    <h2>Calculadora MRU y MRUV </h2>
                    <div class="rating">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <!-- <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i> -->
                    </div>
                        <p>
                            Este proyecto consiste en el desarrollo de una calculadora para Movimiento Rectilíneo Uniforme (MRU) y Movimiento Rectilíneo Uniformemente Variado (MRUV) utilizando HTML, CSS y JavaScript.
                        </p>
                </div>
            </a>

            <a href="/p5">
                <div class="project-item">
                    <img src="img/img1.jpg" alt="">
                    <h2>Analizador AFD </h2>
                    <div class="rating">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <img src="icon/estrella.png" id="star" alt="">
                        <!-- <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i>
                        <i class='bx bxs-star bx-tada bx-rotate-90' id="star"></i> -->
                    </div>
                        <p>
                            Este proyecto es un Analizador de Autómata Finito Determinista (AFD) que permite cargar un archivo XML con la definición de un AFD, analizar cadenas de texto ingresadas por el usuario y determinar si dichas cadenas son aceptadas por el autómata. 
                        </p>
                </div>
            </a>
            </div>
        </div>
    </section>
<!--__________________________________CONTACTO______________-->
    <section class="contact" id="contact">
        <h2 class="heading">Contacta<span>me</span></h2>
            <div class="contact1" id="contact1">
                <h3>
                    Correo electronico: <br><span>roger.tzep0304@gmail.com </span>
                </h3>
                <br>
                <h3>Curriculum Vitae: <br><a href="https://drive.google.com/drive/folders/13F-WA5pp0acUYJ3GchYTI700HNXW9qpm?usp=sharing"><span>Royer Tzep</span></a></h3>
            </div>
        
        <!-- <form action="">
            <div class="input-group">
                <div class="input-box">
                    <input type="text" placeholder="Full Name">
                    <input type="email" placeholder="Email">
                </div>
                <div class="input-box">
                    <input type="number" placeholder="Phone Number">
                    <input type="text" placeholder="Subject">
                </div>
            </div>

            <div class="input-group-2">
                <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                <input type="submit" value="Send Message" Class="btn">
            </div>
        </form> -->
    </section>

    {{> footer}}

    <script src="/js/script.js"></script>
</body>
</html>